.box{
	border: 1px solid gray;
	border-radius: 5px;
	padding: 5px;
	display: inline-block;
	margin: 5px;
}

#form-20{
	width: 20%;
}
#form-30{
	width: 30%;
}
#form-40{
	width: 40%;
}
#form-50{
	width: 50%;
}
#form-100{
	width: 100%;
}
#form-80{
	width: 80%;
	margin:  0 auto;
}
.form-imput{
	display: block;
	height: 25px;
	width: 100%;
	margin-bottom: 5px;
}

.alert{
	border: 1px solid gray;
    padding: 5px;
    border-radius: 5px;
    text-align: center;
}

.alert-sucess{
	background: green;
	color:  white;
}

.alert-error{
	background: red;
	color:  white;
}