
.container{
	min-height: 500px;
	padding: 15px;
	border: 1px solid gray;
	margin: 0 auto;
	position: relative;
}
.menu{
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    color: #424242;
    border: 1px solid gray;
    padding: 5px;
    border-radius: 5px;
    background: lightgray;
    width: 180px;
    text-align: center;
}
.menu1{
	position: absolute;
    right: 10px;
}
.menu2{
	position: absolute;
    right: 10px;
    top: 40px;
}
/*Syntaxis:  t + [alineacion]  //'t' de texto*/
.tcenter{
	text-align: center;
}
.tleft{
	text-align: left;
}
.tright{
	text-align: right;
}
.center{
	margin: 0 auto;
}
/*Syntaxis:  c + [% de ancho]  //'c' de columna*/
.c10{
	width: 10%;
}
.c20{
	width: 20%;
}
.c30{
	width: 30%;
}
.c40{
	width: 40%;
}
.c50{
	width: 50%;
}
.c60{
	width: 60%;
}
.c70{
	width: 70%;
}
.c80{
	width: 80%;
}
.c90{
	width: 90%;
}
.c100{
	width: 100%;
}
.box{
	padding: 5px;
	border: 1px solid gray;
    border-radius: 5px;
   	margin:  5px;
}
.btn{
	border: 1px solid gray;
	padding: 5px;
	border-radius: 5px;
	margin: 5px;
	text-decoration: none;
	color: #3e3d3d;
}
.box-sub{
	border-bottom: 1px solid gray;
    padding: 5px;
    font-size: small;
    color: darkslategray;
}
.line{
	display: inline-block;
}
.block{
	display: block;
}
/*Syntaxis:  box + '-' + [estatus]  //'box' = caja*/
.box-sucess{
	background: #c6e5c6;
    border-color: green;
    color: green;
}
.box-error{
	background: #ffc8c8;
    border-color: #fe3737;
    color: #5f0000;
}
/*Syntaxis:  f +  [input]  //'f' = formulario*/
.finput{
	display: block;
	height: 25px;
	width: 100%;
	margin: 5px 0px ;
}



.tr{
	color: red;
	font-weight: bold;
}
.tg{
	color: green;
	font-weight: bold;
}
.tw{
	color: orange;
	font-weight: bold;
}
.tb{
	color: blue;
	font-weight: bold;
}

.b{
	font-weight: bold;
}

